name: build
permissions:
  contents: write
  packages: write
on:
  push:
    branches:
      - main
    paths:
      - "package.json"
  pull_request:
    branches:
      - main
    paths:
      - "package.json"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: "main"
      - name: Set up Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: ".bun-version"
      - name: Install dependencies
        run: |
          bun install
      - name: Bundle
        run: |
          bun build index.js --compile --outfile tailhook-linux-x64 --target=bun-linux-x64
          bun build index.js --compile --outfile tailhook-linux-arm64 --target=bun-linux-arm64
      - id: tag
        name: Generate release tag
        run: |
          TAILHOOK_VERSION=`node --eval="process.stdout.write(require('./package.json').version)"`
          echo "release_tag=$TAILHOOK_VERSION" >> $GITHUB_OUTPUT
      - name: Prepare release
        run: |
          bunx conventional-changelog-cli -p cli -i CHANGELOG.md -s
      - name: Release
        uses: softprops/action-gh-release@v1
        if: ${{ success() }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          body_path: ./CHANGELOG.md
          tag_name: ${{ steps.tag.outputs.release_tag }}
          # generate_release_notes: true
          files: |
            ./tailhook-linux-x64
            ./tailhook-linux-arm64
